#toyasname{
    color: rgb(224, 28, 28);
}
#para1{
    text-align: left;
}
h1{
    font-size: 50px;
}
body    {

    background-image: radial-gradient(salmon , white);
    font-family: 'Poppins', sans-serif;
}
.flexiq{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 2%;
    
}
.half-width img{
    width: 100%;
}

.linkbutton{
    color:darkblue;
text-decoration: none;
background-image: linear-gradient(red,salmon );
font-weight: 400;
border-radius: 10%;
padding: 2%;


}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-image: radial-gradient(salmon , white);

}
.Dreams{  background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;

}

.section3{
background-image: url(images/exp-bg.png);
background-repeat: no-repeat;
background-position: left;
}
.little-color{
    background-image: linear-gradient( pink,white);
    
}

.design{
    box-shadow: 10px  10px 30px  rgb(130, 144, 130);
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
   
}
#color1{
border-left: 7px solid;
border-image: linear-gradient(tomato ,red);
border-image-slice: 1;

}
#color2{
    border-left: 7px solid;
    border-image: linear-gradient(rgba(194, 80, 51, 0.87) ,red);
    border-image-slice: 1;
}
#pp{
    text-align: center;
    font-size: smaller;

color: grey;}
#pic{
    border-radius: 20%;
}
